<a href="https://colab.research.google.com/github/vitoriapmaattos/dataanalytics/blob/main/Fase3_Aula8_Dados_Na_Nuvemipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### CÓDIGO

```sql
#Consulta completa com agrupamentos em três grandes grupos: nome da loja, data e categoria do produto.
SELECT date,
       store_name,
       category_name,
       COUNT(distinct invoice_and_item_number) as transactions,
       SUM(volume_sold_gallons) as total_volume_galons,
       SUM(volume_sold_liters) as total_volume_liters,
       SUM(sale_dollars) as total_revenue_sale,
       AVG(sale_dollars) as avg_revenue_sale,
       MIN(sale_dollars) as min_revenue_sale,
       MAX(sale_dollars) as max_revenue_sale,
FROM `bigquery-public-data.iowa_liquor_sales.sales`
GROUP BY date, store_name, category_name
ORDER BY date ASC
```

Essa primeira consulta retornou muitas linhas, então reduzimos os agrupamentos comentando o código, assim retornando uma consulta menor.

```sql
SELECT date,
       /* store_name,
       category_name, */
       COUNT(distinct invoice_and_item_number) as transactions,
       SUM(volume_sold_gallons) as total_volume_galons,
       SUM(volume_sold_liters) as total_volume_liters,
       SUM(sale_dollars) as total_revenue_sale,
       AVG(sale_dollars) as avg_revenue_sale,
       MIN(sale_dollars) as min_revenue_sale,
       MAX(sale_dollars) as max_revenue_sale,
FROM `bigquery-public-data.iowa_liquor_sales.sales`
GROUP BY date /* store_name, category_name */
ORDER BY date ASC
```