<a href="https://colab.research.google.com/github/vitoriapmaattos/dataanalytics/blob/main/Fase3_Aula7_Consultas_com_Bigquery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### CÓDIGO

Iniciamos trazendo todos os resultados da base, utilizando o *.

```sql
#Selecionando todos os valores da base, limitando o número de linhas
SELECT *
FROM `bigquery-public-data.iowa_liquor_sales.sales`
LIMIT 1000
```

Alteramos a consulta para termos somente as colunas necessarias para a análise, nessa situação optamos pelas colunas `invoice_and_item_number, date, store_number`

```sql
SELECT invoice_and_item_number, date, store_number
FROM `bigquery-public-data.iowa_liquor_sales.sales`
LIMIT 1000
```

Vamos imaginar uma situação, precisamos analisar somente a loja 5211. Começamos incluindo um WHERE no código.

```sql
SELECT invoice_and_item_number, date, store_number
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE store_number = '5211'
```

Agora queremos contar a quantidade de transações realizadas por dia na loja 5211.

```sql
SELECT COUNT(invoice_and_item_number) as transactions,
       date,
       store_number
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE store_number = '5211'
GROUP BY date, store_number
ORDER BY date ASC

```