<a href="https://colab.research.google.com/github/vitoriapmaattos/dataanalytics/blob/main/Fase3_Aula4_Operacoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Instalando o PySpark

!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
#Instalando o FindSpark

!pip install findspark

Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [ ]:
#Importando o SparkContext e o SparkSession

from pyspark import SparkContext
from pyspark.sql import SparkSession

In [ ]:
sc = SparkContext.getOrCreate() #Iniciando o Context

In [ ]:
spark = SparkSession.builder.appName('PySpark Data Frame').getOrCreate() #Criando o aplicativo

***Transformações***

Operações de transformação de dados (decomposição, mapeamento redução de dados)

In [ ]:
#FUNÇÃO MAP: Mapeia os dados e realiza transformações, nesse caso a multiplicação por 2

data = [1, 2, 3, 4, 5] #Criando uma base de dados
myrdd = sc.parallelize(data) #Instanciando essa base de dados em um RDD
newrdd = myrdd.map(lambda x: x * 2) #Aplicando a transformação nos dados do 1º RDD e criando um 2º RDD
print(newrdd.collect())  #Ação que retorna todos os elementos do RDD

[2, 4, 6, 8, 10]

In [ ]:
#FUNÇÃO FILTER: Filtra os dados que são divisiveis por 2

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] #Criando uma base de dados
myrdd = sc.parallelize(data) #Instanciando essa base de dados em um RDD
newrdd = myrdd.filter(lambda x: x % 2 == 0) #Aplicando a transformação nos dados do 1º RDD e criando um 2º RDD
print(newrdd.collect())  #Ação que retorna todos os elementos do RDD

[2, 4, 6, 8, 10]

In [ ]:
#FUNÇÃO DISTINCT: considera somente os valores distintos

data = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5] #Criando uma base de dados
myrdd = sc.parallelize(data) #Instanciando essa base de dados em um RDD
newrdd = myrdd.distinct() #Aplicando a transformação nos dados do 1º RDD e criando um 2º RDD
print(newrdd.collect())  #Ação que retorna todos os elementos do RDD
print(newrdd.count()) #Conta os itens distintos

[2, 4, 1, 3, 5]
5

In [ ]:
#FUNÇÃO GROUP BY KEY: Agrupa os dados por uma "chave"

myrdd = sc.parallelize([('a', 1), ('a', 2), ('a', 3), ('b', 1)]) #Criando uma base de dados e instanciando essa base de dados em um RDD
resultList = myrdd.groupByKey().mapValues(list) #Aplicando a transformação nos dados do 1º RDD e criando um 2º RDD
resultList.collect() #Ação que retorna todos os elementos do RDD

[('b', [1]), ('a', [1, 2, 3])]

In [ ]:
#FUNÇÃO REDUCE BY KEY:Reduz os dados com base em uma "chave"
from operator import add #Importando a função de soma
myrdd = sc.parallelize([('a', 1), ('a', 2), ('a', 3), ('b', 1)]) #Criando uma base de dados e instanciando essa base de dados em um RDD
newrdd = myrdd.reduceByKey(add) #Aplicando a transformação nos dados do 1º RDD e criando um 2º RDD
newrdd.collect() #Ação que retorna todos os elementos do RDD

[('b', 1), ('a', 6)]

In [ ]:
#FUNÇÃO SORT BY KEY: Ordena os dados por uma "chave"

myrdd = sc.parallelize([('c', 1), ('d', 2), ('a', 3), ('b', 4)]) #Criando uma base de dados e instanciando essa base de dados em um RDD
newrdd = myrdd.sortByKey() #Aplicando a transformação nos dados do 1º RDD e criando um 2º RDD
newrdd.collect() #Ação que retorna todos os elementos do RDD

[('a', 3), ('b', 4), ('c', 1), ('d', 2)]

In [ ]:
#FUNÇÃO UNION: Unificando as duas bases de dados

myrdd1 = sc.parallelize([1, 2, 3, 4]) #Criando uma base de dados e instanciando essa base de dados em um RDD
myrdd2 = sc.parallelize([3, 4, 5, 6, 7]) #Criando uma base de dados e instanciando essa base de dados em um RDD
newrdd = myrdd1.union(myrdd2) #Aplicando a transformação nos dados do 1º RDD e criando um 2º RDD
newrdd.collect() #Ação que retorna todos os elementos do RDD

[1, 2, 3, 4, 3, 4, 5, 6, 7]

***Ações***

Operação de ação de dados (ações executadas de maneira física nos dados)

In [ ]:
#FUNÇÃO COUNT: Contando valores sem distinção

data = [1, 1, 1, 4, 5, 6, 7, 8, 9, 10] #Criando uma base de dados
myrdd = sc.parallelize(data) #Instanciando essa base de dados em um RDD
myrdd.count() #Ação que retorna a quantidade de elementos do RDD

10

In [ ]:
#FUNÇÃO REDUCE:

data = [1, 2, 3, 4, 5] #Criando uma base de dados
myrdd = sc.parallelize(data) #Instanciando essa base de dados em um RDD
newrdd = myrdd.reduce(lambda x, y: x * y) #Aplicando a transformação nos dados do 1º RDD e criando um 2º RDD
newrdd #Ação que retorna todos os elementos do RDD

120

In [ ]:
#FUNÇÃO FOREACH:

def fun(x):
  print(x)

data = ['Scala', 'Python', 'Java', 'R'] #Criando uma base de dados
myrdd = sc.parallelize(data) #Instanciando essa base de dados em um RDD
myrdd.foreach(fun) #Ação que retorna todos os elementos do RDD

In [ ]:
#FUNÇÃO COUNT BY VALUE: Contagem de valores baseado no conteúdo do RDD

data = ['Python', 'Scala', 'Python', 'R', 'Python', 'Java', 'R'] #Criando uma base de dados
myrdd = sc.parallelize(data) #Instanciando essa base de dados em um RDD
myrdd.countByValue().items() #Ação que retorna a contagem por valor

dict_items([('Python', 3), ('Scala', 1), ('R', 2), ('Java', 1)])

In [ ]:
#FUNÇÃO COUNT BY KEY: Contagem pelas chaves

data = [('a', 1), ('b', 1), ('c', 1), ('a', 1)] #Criando uma base de dados
myrdd = sc.parallelize(data) #Instanciando essa base de dados em um RDD
myrdd.countByKey().items()

dict_items([('a', 2), ('b', 1), ('c', 1)])

In [ ]:
#FUNÇÃO TAKE(N): Limitar o resultado da operação, nesse caso retornando os 3 primeiros

data = [2, 5, 3, 8, 4] #Criando uma base de dados
myrdd = sc.parallelize(data) #Instanciando essa base de dados em um RDD
myrdd.take(3) #Ação que retorna os 5 primeiros elementos do RDD

[2, 5, 3]

In [ ]:
#FUNÇÃO TOP(N): Limitar o resultado da operação, nesse caso ordenando os dados e retornando os 3 primeiros itens ordenados do maior para o menos

data = [2, 5, 3, 8, 4] #Criando uma base de dados
myrdd = sc.parallelize(data) #Instanciando essa base de dados em um RDD
myrdd.top(3) #Ação que retorna os 5 primeiros elementos do RDD

[8, 5, 4]